.Container {
    /* background-color: red; */
    list-style: none;
    top: 360px;
    position: relative;
    text-align: left;
}

.List {
    height: 40px;
    width: 90%;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 40px;
    padding-left: 16px;
    text-align: left;
    border-style: none;
    /* box-shadow: 10px 10px 52px 0px rgba(0, 0, 0, 0.05); */
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(235, 235, 235);
}