body {
    box-sizing: border-box;
}

.App {
    text-align: center;
    background-color: #f3f3f3;
    width: 600px;
    height: 500px;
    -webkit-box-shadow: 10px 10px 52px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 52px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 52px 0px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}